/* app css stylesheet */
html, body {
    height: 100%;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.myGrid {
    width: 100%;
    height: 400px;
}

.extGrid {
    width: 100%;
    height: 200px;
}

.folderGrid {
    width: 100%;
    height: 200px;
}

.scanButton {
  margin-top: 20px;
  margin-right: 15px;
}

.otherButton {
  margin-top: 10px;
  margin-right: 15px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
