<div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-8">
                <h1>Deduper</h1>
                <h3>File de-duplication tool</h3>
              </div>
              <div class="col-md-4">
                <div class="row">
                <button type="button" class="btn scanButton btn-lg pull-right"
                  ng-class="isBusy() ? 'btn-danger':'btn-primary'"
                  ng-click="actionButtonClicked()">{{ isBusy() ? 'Cancel' : 'Scan' }}</button>
                </div>
                <div class="row">
                  <button type="button" class="btn otherButton btn-lg btn-warning pull-right"
                   ng-click="resetButtonClicked()"
                   ng-disabled="isBusy()">Reset</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12" ng-hide="msg == ''">
                <div class="panel panel-default">
                    <div class="panel-body">
                      <p class="lead"><i>{{msg}}</i></p>
                    </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <uib-accordion close-others="true">
                    <uib-accordion-group is-open="stateModel.current.accordion[0].open">
                      <uib-accordion-heading>
                        <i class="glyphicon" ng-class="{'glyphicon-chevron-up': stateModel.current.accordion[0].open, 'glyphicon-chevron-down': !stateModel.current.accordion[0].open}"></i>&nbsp;Search Settings
                      </uib-accordion-heading>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="panel panel-default">
                            <!-- Default panel contents -->
                            <div class="panel-heading">File Types</div>
                            <div class="panel-body">
                              <div ui-grid-selection id="grid10" ui-grid="gridOptionsExt" class="extGrid"></div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="panel panel-default">
                            <div class="panel-heading">Search Folders</div>
                            <div class="panel-body">
                            <div>
                              <button type="button" class="btn btn-md pull-right btn-primary"
                                  ng-disabled="isBusy()"
                                  ng-click="stateModel.restoreDefaultFolders()">Defaults</button>
                              <button type="button" class="btn btn-md pull-right btn-primary"
                                  ng-disabled="isBusy()"
                                  ng-click="deleteFolder()">Delete</button>
                              <button type="button" class="btn btn-md pull-right btn-primary"
                                ng-disabled="isBusy()"
                                ng-click="addFolder()">Add</button>
                            </div>
                          </div>
                          <div ui-grid-selection ui-grid-edit ui-grid-cellnav id="grid3" ui-grid="gridOptionsFolders" class="folderGrid"></div>
                        </div>
                      </div>
                    </div>

                    </uib-accordion-group>
                    <uib-accordion-group is-open="stateModel.current.accordion[1].open">
                      <uib-accordion-heading>
                        <i class="glyphicon" ng-class="{'glyphicon-chevron-up': stateModel.current.accordion[1].open, 'glyphicon-chevron-down': !stateModel.current.accordion[1].open}"></i>&nbsp;Analysis
                      </uib-accordion-heading>
                      <div class="row">
                        <div class="col-md-12">
                          <table class="table">
                             <tbody>
                              <tr><td>files:</td><td>{{assetsModel.data.length}} <span ng-hide="assetsModel.totalBytes < 1">({{assetsModel.totalBytes | asUnit}})</span></td></tr>
                              <tr><td>analyzed:</td><td>{{digestsModel.digestedCount}}</td></tr>
                              <tr><td>duplicates:</td><td>{{analysis.duplicateCount}}</td></tr>
                              <tr><td>duplicated data:</td><td>{{analysis.duplicateBytes | asUnit}} <span ng-hide="analysis.percentDuplicated < 1">({{analysis.percentDuplicated}}%)</span></td></tr>
                            </tbody>
                          </table>
                          <uib-progress ng-hide="assetsModel.data.length == 0">
                            <uib-bar value="analysis.percentDuplicated" type="{{analysis.percentDuplicated > 50 ? 'danger':'warning' }}">
                              <span ng-hide="analysis.percentDuplicated < 5">{{analysis.percentDuplicated}}%</span></uib-bar>
                            <uib-bar value="100 - analysis.percentDuplicated" type="success">
                              <span ng-hide="100 - analysis.percentDuplicated < 5"></span></uib-bar>
                          </uib-progress>
                        </div>
                      </div>
                    </uib-accordion-group>
                </uib-accordion>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="panel panel-default">
              <div class="panel-heading">Findings</div>
              <div class="panel-body">
                <div class="row" ng-hide="analysis.duplicateCount == 0">
                  <div class="col-md-6">
                    <h3>Duplicates</h3>
                    <div id="grid4"  ui-grid-selection ui-grid="gridOptionsDuplicates" class="myGrid"></div>

                        <h3>Paths</h3>
                        <div ng-repeat="path in selectedDuplicate.paths">
                          {{path}}
                        </div>
                  </div>
                  <div class="col-md-6">
                    <div id="carousel" style="height:100%">
                      <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                        <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                          <img ng-src="{{slide.image}}" style="margin:auto;">
                          <div class="carousel-caption">
                            <h4>Slide {{slide.id}}</h4>
                            <p>{{slide.text}}</p>
                          </div>
                        </uib-slide>
                      </uib-carousel>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
